body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing-canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}

#controls {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button, input[type="color"], input[type="range"] {
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
}
